@import '../../global_scss/mixins.scss';
@import '../../global_scss/vars.scss';

.grid-wrapper {
   padding: 30px 0 95px;
   display: grid;
   grid-gap: 10px;
   grid-template-areas:
      "breadcrumbs breadcrumbs"
      "asideFilter catalogPageImg"
      "asideFilter filter"
      "asideFilter categoryCards"
      "asideFilter paginnation";

      @media (max-width:$desktop-size) {
         grid-gap: 0px;
      }
}

.catalogPageImg-wrapper {
   grid-area: catalogPageImg;
   width: 100%;
   min-height: 100%;
   
   img {
      display: inline-block;
      width: inherit;
      height: inherit;
   }
}

.breadcrumbs__catalog {
   margin-top: 30px;
}

.asideFilter-wrapper {
   @media (max-width:$desktop-size) {
      width: 0;
      overflow: hidden;
   }



   grid-area: asideFilter;
   width: 300px;
   min-height: 508px;
   position: relative;
   width: '300px'

   &--show {
      width: 200px;
   }
}

.asideFilter-wrapper--show .aside-filter {
   background-color: $additional-text-color;
   border-radius: 4px;
   animation: slide 0.8s ease-in-out;
   padding: 10px;
}


@keyframes slide {
   0% {
      left: -100%;
   }

   100% {
      left: 0%;
   }
}

.filter-wrapper {
   grid-area: filter;
   width: 100%;
   min-height: 43px;
   padding: 15px 5px;
}

.categoryCards-wrapper {
   min-height: 350px;

   @media (max-width: 1196px) {
      min-height: 580px;
   }

   @media (max-width: $desktop-size) {
      min-height: 580px;
   }

   grid-area: categoryCards;
   overflow: hidden;
}


.paginnation-wrapper {
   grid-area: paginnation;
}