@import "../../../../global_scss/global_style.scss";
@import "../../../../global_scss/fonts.scss";
@import "../../../../global_scss/vars.scss";
@import "../../../../global_scss/mixins.scss";

.header-redistration {
  padding-left: 20%;
  padding-top: 60%;
}
@media screen and (max-width: $desktop-size) {
  .header-redistration {
    padding-left: 10%;
  }
}
