@import "../../../../global_scss/global_style.scss";
@import "../../../../global_scss/fonts.scss";
@import "../../../../global_scss/vars.scss";
@import "../../../../global_scss/mixins.scss";

.header-registration {
  position: relative;
  padding-left: 20px;
  padding-top: 30px;
  cursor: pointer;

  .filled {
    path {
      fill: black;
    }
  }
}
.admin-icon {
  width: 32px;
  height: 16px;
  position: absolute;
  left: 30px;
}
@media screen and (max-width: $desktop-size) {
  .header-registration {
    padding-left: 10%;
    padding-top: 45%;
  }
}
