@import "../../global_scss/vars";
@import "../../global_scss/mixins";
@import "../../global_scss/global_style.scss";

.wishlist-section {
    max-width: $notebook-size;
    margin: $margin-center;
    box-sizing: border-box;
    margin-top: 30px;
    @media (max-width: 1200px) {
        margin-left: 75px;
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        margin-left: 35px;
    }
    @media (max-width: 320px) {
        margin-left: 30px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding-bottom: 30px;
        @media (max-width:1200px) and (min-width: 601px) {
            margin-right: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:600px) and (min-width: 320px) {
            margin-right: 30px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.cart-section__title {
    text-align: center;
    margin-bottom: 48px;
    @media (max-width: 1200px) {
        text-align: center;
    }
    @media (max-width: 320px) {
        margin-right: 20px;
    }
}

.breadcrumbs__wishlist {
    @media (max-width: 1200px) {
        margin-left: 35px
    }
    @media (max-width: 768px) {
        margin-left: 0px
    }
}