@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";
@import "../../global_scss/global_style.scss";

.modal-window {
  width: 30%;
  //   height: 30vh;
  background-color: $accent-background-color;
  position: fixed;
  top: 10%;
  left: 37%;
  z-index: 100;
  border: 1px solid #b5abaa;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  transform: scale(0);
  &__header {
    display: flex;
    justify-content: center;
  }
  &__main {
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.modal-window.active {
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .modal-window {
    width: 60%;
    left: 17%;
  }
}
