.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-style: 15px;
  }
  
  .pagination-container .page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 38px;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .pagination-container .page-button.active {
    background-color: #E36709;
    color: white;
    border: 1px solid #e55209;
  }
  
  .pagination-container .page-button.disabled {
    opacity: 0.2;
  }
  
  .pagination-container .page-button:hover:not(.active) {background-color: rgb(238, 238, 238);}