@font-face {
  font-family: 'Libre Bodoni Bold';
  src: url('../fonts/Libre_Bodoni/LibreBodoni-Bold.ttf');
}

@font-face {
  font-family: 'Libre Bodoni Regular';
  src: url('../fonts/Libre_Bodoni/LibreBodoni-Regular.ttf');
}

@font-face {
  font-family: 'Libre Bodoni Italic';
  src: url('../fonts/Libre_Bodoni/LibreBodoni-Italic.ttf');
}

@font-face {
  font-family: 'Mulish Regular';
  src: url('../fonts/Mulish/Mulish-Regular.ttf');
}