@font-face { font-family: 'Libre Bodoni Bold'; 
  src: url('../fonts/Libre_Bodoni/LibreBodoni-Bold.ttf');
  // src: url('../fonts/Libre_Bodoni/LibreBodoni-Italic.ttf');
  // src: url('../fonts/Libre_Bodoni/LibreBodoni-Medium.ttf');
  // src: url('../fonts/Libre_Bodoni/LibreBodoni-Regular.ttf');
}
  
@font-face {
  font-family: 'Mulish Regular';
  // src: url('../fonts/Mulish/Mulish-Bold.ttf');
  // src: url('../fonts/Mulish/Mulish-Italic.ttf');
  // src: url('../fonts/Mulish/Mulish-Light.ttf');
  // src: url('../fonts/Mulish/Mulish-Medium.ttf');
  src: url('../fonts/Mulish/Mulish-Regular.ttf');
    }

