@import './vars.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

.global {
  margin: 0;
  
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  font-family: $main-font;
}

