@import "./fonts.scss";

$mobile-size: 320px;
$desktop-size: 768px;
$notebook-size: 1200px;
$margin-center: 0 auto;

$main-font: "Libre Bodoni Bold";
$secondary-font: "Mulish Regular";

$accent-color: #e36709;
$accent-background-color: #ede8e7;
$basic-text-color: #311c1c;
