$mobile-size: 320px;
$desktop-size: 768px;
$notebook-size: 1200px;
$margin-center: 0 auto;

$main-font: 'Libre Bodoni', sans-serif;
$secondary-font: 'Mulish', sans-serif;

$accent-color: #E36709;
$accent-background-color: #EDE8E7;
