@import '../../../global_scss/vars.scss';
@import '../../../global_scss/mixins.scss';

.btn-links{
    display: flex;
    position: relative;
    &__medias{
    position: absolute;
    z-index: 10;
    padding-top: 70px;
    }
    &__media{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__line{
        position: absolute;
        z-index: 1;
        padding-left: 23px;
        padding-top: 540px;
    }
    &__medias{
        padding-top: 508px;
    }
}


@media screen and (max-width: 1201px){
    .btn-links{
        &__medias{
            position: absolute;
            z-index: 10;
            padding-top: 175px;
            margin-top: 344px;
            }
        &__media{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 58px;

        }
        &__line{
            position: absolute;
            padding-left: 82px;
        }
    }
}
@media screen and (max-width: 769px){
    .btn-links{
        &__medias{
            position: absolute;
            z-index: 10;
            padding-top: 228px;
            }
        &__media{
            display: flex;
            flex-direction: column;
            margin-top: 88px;
            margin-bottom: -73px;
        }
        &__line{
            position: absolute;
            z-index: 1;
            padding-top: 664px;
          
        }
    }
}
@media screen and (max-width: 321px){
    .btn-links{
        &__medias{
       display: none;
            }
        &__media{
 display: none;
        }
        &__line{
            display: none;
        }
    }
}