@import "../../../../global_scss/vars.scss";
@import "../../../../global_scss/mixins.scss";

.header-cart {
  margin-right: 15px;
  padding-top: 18px;
  cursor: pointer;
  .filled-cart {
    path {
      fill: black;
    }
  }
  @media (max-width:1200px) {
    margin-right: 5px;
  }
  @media (max-width:768px) {
    margin-right: 15px;
  }
  @media (max-width:400px) {
    margin-right: 5px;
  }
}

#cart {
  color: white;
  // дописать стили: position: absolute; top: ; right: ;
}
// @media screen and (max-width: $desktop-size) {
//   .header-cart{
//     padding-left: 10%;
//     padding-top: 5px;
//   }
// }
