@import "../../../../global_scss/vars.scss";
@import "../../../../global_scss/mixins.scss";

.header-cart {
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  .filled-cart {
    path {
      fill: black;
    }
  }
}

#cart {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}