@import "../../../../global_scss/vars.scss";
@import "../../../../global_scss/mixins.scss";

.header-cart {
  padding-left: 20px;
  padding-top: 24px;
  cursor: pointer;
}
@media screen and (max-width: $desktop-size) {
  .header-cart{
    padding-left: 10%;
    padding-top: 5px;
  }
}
