@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";

.bestsellers {
  max-width: $notebook-size;
  border-color: $basic-background-color;
  padding: 20px 0px 30px;
  margin: $margin-center;
  box-sizing: border-box;
  &__header {
    @include flex-kit(space-between);
    align-items: center;
    margin-bottom: 40px;
  }
  &__cards-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow-y: hidden;
    align-items: center;
    margin-right: -40px;
    gap: 10px;
    @media (max-width: 1200px) {
      margin-right: 60px;
      margin-left: 110px;
    }
    @media (max-width: 768px) {
      margin-right: 20px;
      margin-left: 40px;
    }
    @media (max-width: 320px) {
      margin-right: 0px;
      margin-left: 18px;
    }
  }
}

@media screen and (max-width: $desktop-size) {
  .bestsellers {
    &__header {
      margin-bottom: 25px;
      .btn-viewall {
        font-size: 15px;
      }
    }
    &__title {
      font-size: 35px;
      line-height: 40px;
      margin: 30px;
    }
    &__cards-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 530px) {
  .bestsellers__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 360px) {
  .bestsellers {
    &__header {
      .btn-viewall {
        font-size: 10px;
      }
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin: 15px;
    }
  }
}

.btn__bestsellers {
  @media (max-width: 1200px) {
    margin-right: 105px;
    }
  @media (max-width: 768px) {
    margin-right: 50px;
  } 
  @media (max-width: 320px) {
    margin-right: 25px;
  }
}

.bestsellers__header {
  @media (max-width: 1200px) {
    padding-left: 110px;
  }
  @media (max-width: 768px) {
    padding-left: 10px;
  }
  @media (max-width: 320px) {
    padding-left: 0px;
  }
}