@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";

.bestsellers {
  max-width: $notebook-size;
  border-color: $basic-background-color;
  padding: 20px 0px 30px;
  margin: $margin-center;
  box-sizing: border-box;
  &__header {
    @include flex-kit(space-between);
    align-items: center;
    margin-bottom: 40px;
  }
  &__cards-container {
    padding: 0 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin-right: -40px;
    gap: 10px;
    width: 100%;

    .category-card {
      max-width: 280px;
      margin-right: 0;
    }

    & div:last-child .category-card {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $desktop-size) {
  .bestsellers {
    &__header {
      margin-bottom: 25px;
      .btn-viewall {
        font-size: 15px;
      }
    }
    &__title {
      font-size: 35px;
      line-height: 40px;
      margin: 30px;
    }
    &__cards-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 530px) {
  .bestsellers__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 430px) {
  .bestsellers__cards-container {
    grid-template-columns: repeat(1, 1fr);

    .category-card {
      display: none;
    }

    & div:first-child .category-card {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    & div:first-child + div .category-card {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
}

@media screen and (max-width: 360px) {
  .bestsellers {
    &__header {
      .btn-viewall {
        font-size: 10px;
      }
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin: 15px;
    }
  }
}
