@import "../../../global_scss/vars.scss";
@import "../../../global_scss/mixins.scss";

.btn-viewall {
    color: $accent-color;
    font-size: 20px;
    cursor: pointer;
    &::after {
      content: ">";
      margin-left: 10px;
    }
    @media (max-width: 320px) {
      font-size: 10px;
    }
}