@import '../../../global_scss/vars.scss';
@import '../../../global_scss/mixins.scss';

.section__btn-collection {
    font-family: $main-font;
    @include font-value(500, 14px, 19px);
    color: #311C1C;
    border: 1px solid #311C1C;
    cursor: pointer;
    padding: 6.5px 20px;
    background-color: #FFFFFF;
    transition: ease-in-out 0.5s;
    &:hover {
        background-color: $accent-color;
        color: #FFFFFF;
    }
}