@import '../../../global_scss/vars.scss';
@import '../../../global_scss/mixins.scss';

.ship-info-section{
    width: 100%;
    margin: 0 auto;
    border:  1px solid #B5ABAA;
    width: 1010px;
    height: 950px;
    margin-top: 20px;
    &__title{
        padding: 0 0 10px 30px;
        font-family: $main-font;
        font-size: 20px;
        line-height: 25px;
        padding-top: 40px;
    }
    &__infos{
        display: inline-grid;
        padding-left: 30px;
        padding-bottom: 5px;
    }
    &__texts{
        width: 450px;
        padding: 15px;
        outline: none;
        border:  1px solid #B5ABAA;
    }
    &__info{
        display: inline-grid;
        padding-left: 30px;
        padding-bottom: 5px;
    }
    &__name{
        flex-direction: column;
        padding-bottom: 15px;
        padding-top: 15px;
        font-family: $main-font;
        font-size: 16px;
        line-height: 20px;
        width: 500;
    }
    &__text{
        width: 930px;
        padding: 15px;
        outline: none;
        border:  1px solid #B5ABAA;
    }
    &__line{
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 30px;
        font-family: 'Mulish';
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
    }
    &__checkBox{
        padding-top: 15px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
    }
}