@import "../../../global_scss/vars.scss";
@import "../../../global_scss/mixins.scss";

.header-nav {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  width: 140px;
  &__menu-wrap {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 860px) {
      padding-left: 10%;
    }

    @media (max-width: 769px) {
      display: none;
    }
  }
  &__menu_item {
    padding-left: 10%;
    color: $basic-text-color;
  }
}

@media screen and (max-width: 570px) {
  .header-nav {
    display: none;
  }
}
@media screen and (max-width: 569px) {
  .burger-menu {
    display: none;
  }
}

.menu-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

/*------------Navbar and burger menu -----------------------*/
nav {
  width: 100%;
  height: 4em;
  background-color: $accent-background-color;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
}
.burger-menu {
  height: 100%;
  background-color: $accent-background-color;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  @media screen and (max-width: $desktop-size) {
    .burger-menu {
      display: none;
    }
  }
}
.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: rgb(153, 139, 139);
  border-radius: 0.5em;
}

.menu {
  background-color: rgba(133, 116, 116, 0.25);
  position: absolute;
  width: 34em;
  border-radius: 10px;
  z-index: 3;
}
@media screen and (max-width: $desktop-size) {
  .menu {
    width: 50%;
    height: 40vh;
  }
}

/*----------sliding menu------------*/

.hidden {
  display: none;
}
.visible {
  display: inherit;
  top: 140px;
}
/*------------animation-------------*/
/*cliked*/
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

/*uncliked*/

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
/*------style for burger mobil------*/
.header-nav-mobil__menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-nav-mobil {
  padding-top: 37px;
  font-size: 40px;
  padding-bottom: 27px;
}
@media screen and (max-width: $desktop-size) {
  .header-nav-mobil {
    font-size: 23px;
  }
}
.header-nav-mobil__menu_item {
  color: rgb(87, 78, 78);
}
