@import "../../../global_scss/vars.scss";
@import "../../../global_scss/mixins.scss";

.header-interaction__wrap {
  display: flex;
  justify-content: start;
  padding-left: 2%;
}
@media screen and (max-width: $desktop-size) {
  .header-favorites {
    padding-left: 20px;
  }
}
