@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";
@import "../../global_scss/global_style.scss";

.swiper-wrapper {
  padding: 0 10px;
  position: relative;
  display: flex;

  gap: 10px;
  width: 100%;
  align-items: stretch;
}
.category {
  .category-card {
    padding: 40px 40px;
  }
  margin-right: -20px;
  max-width: 1200px;
  border-color: $basic-background-color;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 30px;
  box-sizing: border-box;
  margin: $margin-center;
  box-sizing: border-box;

  &__title {
    text-align: center;
    margin: 30px;
  }

  &__content {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 0px;

    &-sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;

      &__link {
        color: #b5abaa;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
      }
    }
  }

  .swiper-button-next {
    background-image: url("./img/icon.png");
    position: absolute;
    right: 0;
    width: 56px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .swiper-slide-next {
    visibility: visible;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
}
.category__content-cards {
  margin-left: 40px;
  padding-right: 100px;
}
.active {
  color: $accent-color;
  font-weight: bold;
}
.swiper {
  padding: 0px 100px 0px 0px !important;
}
.swiper-slide a {
  display: flex;
}
.swiper-slide {
  flex-shrink: 0;
  height: auto !important;
  position: relative;
  transition-property: transform;
  display: flex;
}
@media screen and (max-width: 1040px) {
  .category-card__content-price {
    &__new-price {
      font-size: 18px;
    }
  }
}
@media (max-width: 840px) {
  .category-card__content-price {
    &__old-price {
      font-size: 12px;
    }
    &__new-price {
      font-size: 14px;
    }
  }

  .swiper-slide-active {
    visibility: visible;
    // margin-left: 40px;
    // margin-right: 40px;
  }
}
@media screen and (max-width: $desktop-size) {
  .category {
    &__title {
      margin: 30px;
    }
  }
}
@media (max-width: 600px) {
  .category-card {
    margin-left: 30px;
  }
  .swiper-slide {
    visibility: hidden;
  }

  .swiper-slide-active {
    visibility: visible;
  }

  .swiper-slide-next {
    visibility: hidden;
  }
}

@media screen and (max-width: 591px) {
  .category {
    &__content {
      &-sidebar {
        &__link {
          font-size: 16px;
          padding: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .collection-section {
    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .category-card__content-price {
    &__old-price {
      font-size: 10px;
    }
    &__new-price {
      font-size: 12px;
    }
  }
}

@media (max-width: 360px) {
  .category-card {
    margin-left: 0px;
  }

  .swiper-slide-active {
    margin-left: 8px;
  }
}
