@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";
@import "../../global_scss/global_style.scss";

.category {
  margin-right: -20px;
  max-width: 1200px;
  border-color: $basic-background-color;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 30px;
  box-sizing: border-box;
  margin: $margin-center;
  box-sizing: border-box;

  &__title {
    text-align: center;
    margin: 30px;
  }

  &__content {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 12% 88%;
    align-items: center;
    gap: 8px;

    &-sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;

      &__link {
        color: #b5abaa;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding: 10px;
      }
    }

    @media (max-width: 776px) {
      grid-template-columns: 10% 90%;
      gap: 30px;
    }
  }

  .swiper-button-next {
    background-image: url("./img/icon.png");
    position: absolute;
    right: 0;
    width: 56px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
}

.active {
  color: $accent-color;
  font-weight: bold;
}

@media screen and (max-width: $desktop-size) {
  .category {
    &__title {
      margin: 30px;
    }
  }
}

@media screen and (max-width: 591px) {
  .category {
    &__content {
      &-sidebar {
        &__link {
          font-size: 16px;
          padding: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .collection-section {
    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.swiper-slide a {
  display: inline-block;
}

@media (max-width: 840px) {
  .category-card {
    margin-right: 0px;
  }

  .swiper-slide {
    visibility: hidden;
  }

  .swiper-slide-active {
    visibility: visible;
    margin-right: 40px;
  }

  .swiper-slide-next {
    visibility: visible;
  }

  @media (max-width: 480px) {
    .category-card {
      width: 200px;
    }
    .swiper-slide {
      visibility: hidden;
    }

    .swiper-slide-active {
      max-width: 250px;
      visibility: visible;
    }

    .swiper-slide-next {
      visibility: hidden;
    }

    .swiper {
      margin-left: 20px;
    }
  }


}