@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";
@import "../../global_scss/global_style.scss";

.header__hero {
    background-color: $accent-background-color;
}


.header__hero-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    @media (max-width: 1200px) {
    }
    @media (max-width: 320px) {
        margin-left: 0px;
    }
    
}

.line {
    border-right: 1px solid #B5ABAA;
    @media (max-width: 768px) {
        display: none;
    }
    @media (max-width: 320px) {
        display: none;
    }
}

.hero__image {
    margin-left: -50px;
    padding-right: 58px;
    margin-top: 230px;
    margin-bottom: 260px;
    @media (max-width: 768px) {
        display: none;
    }
    @media (max-width: 320px) {
        display: none;
    }
}

.image__item {
    width: 100px;
    height: 100px;
    margin-top: 20px;

}

.image__section {
    display: flex;
    @media (max-width: 768px) {
        display: block;
    }
    @media (max-width: 320px) {
        display: block;
    }
}

.image__content {
    width: 500px;
    height: 500px;
    @media (max-width: 1200px) {
        width: 400px;
        height: 400px;
    }
    @media (max-width: 768px) {
        width: 460px;
        height: 460px;
    }
    @media (max-width: 720px) {
        width: 400px;
        height: 400px;
    }
    @media (max-width: 620px) {
        width: 400px;
        height: 400px;
    }
    @media (max-width: 520px) {
        width: 380px;
        height: 380px;
        margin-left: -100px;
    }
    @media (max-width: 420px) {
        margin-left: -100px;
        width: 350px;
        height: 350px;
    }
    @media (max-width: 320px) {
        margin-left: 0;
        width: 280px;
        height: 280px;
    }
}

.image__jewelry {
    width: 360px;
    height: 360px;
}

.header__hero-title {
    margin-top: 35px;
    @media (max-width: 320px) {
        @include font-value(700, 24px, 32px);
        margin-left: 0px;
    }
}

.title__elegant {
    font-family: $Bodoni-Italic;
    color: $basic-text-color;
    @include font-value(700, 96px, 100px);
    margin-left: -100px;
    
    @media (max-width: 520px) and (min-width: 420px) {
        margin-left: -40px;
        @include font-value(700, 48px, 64px);
    }
    @media (max-width: 320px) {
        @include font-value(700, 48px, 64px);
        margin-left: 0px;
    }
}

.title__jewelry {
    font-family: $Bodoni-Italic;
    color: $basic-text-color;
    @include font-value(700, 96px, 100px);
    margin-left: 55px;
    @media (max-width: 520px) and (min-width: 420px) {
        margin-left: 0px;
        @include font-value(700, 48px, 64px);
    }
    @media (max-width: 320px) {
        @include font-value(700, 48px, 64px);
        padding-left: 15px;
    }
}
@media (max-width: 1200px) {
}
@media (max-width: 768px) {
}
@media (max-width: 320px) {
}

.image__jewelry {
    margin-top: 71px;
    margin-right: 140px;
    @media (max-width: 320px) {
        display: none;
    }
    @media (max-width: 320px) {
        display: none;
    }
}

.hero__media-list {
    display: flex;
    padding-right: 58px;
    @media (max-width: 768px) {
        display: none;
    }
    @media (max-width: 320px) {
        display: none;
    }
}

.social__media {
    margin-top: 200px;
    @media (max-width: 768px) {
        display: none;
    }
    @media (max-width: 320px) {
        display: none;
    }
}

.social__list {
    margin-left: -25px;
    margin-bottom: 100px;
}

.social__media {
    border-left: 1px solid #B5ABAA;
}

@media (max-width: 1200px) {
}
@media (max-width: 768px) {
}
@media (max-width: 320px) {
}