@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";
@import "../../global_scss/global_style.scss";

.header__hero {
    background-color: $accent-background-color;
}

.header__hero-container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 830px;
    justify-content: space-between;

    @media (max-width: $desktop-size) {
        min-height: 500px;
    }

    @media (max-width: 600px) {
        min-height: 100%;
    }
}

.header__hero__title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    right: 9%;
    top: 5%;
    transform: translate(-9%, -5%);
    z-index: 2;
    width: 60%;

    h2 {
        display: inline-block;
        @include font-value(700, 96px, 120px);
        font-family: $Bodoni-Italic;
    }

    h2:first-child {
        color: #B5ABAA;
    }
    
    @media (max-width: 730px) {
        width: 40%;
        right: 40%;
        top: 80%;
        transform: translate(40%, -80%);
        h2 {
            color: white;
            color: $accent-color;
            @include font-value(700, 45px, 40px);
        }

        h2:first-child {
            color: white;
        }
    }

    @media (max-width: 630px) {
        width: 50%;
        right: 40%;
        top: 80%;
        transform: translate(50%, -80%);

        h2 {
            @include font-value(700, 40px, 35px);
            color: white;
        }
    }

    @media (max-width: 610px) {
        width: 50%;
        right: 50%;
        top: 80%;
        transform: translate(50%, -80%);
    }

    .title__jewelry {
        align-self: flex-end;
    }
}

.left-side {
    max-width: 100px;
    width: 100%;
    min-height: inherit;
    position: relative;

    @media (max-width: 600px) {
        display: none;
    }
}

.hero__image {
    position: relative;
    top: 25%;
}

.line-left {
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    border-right: 1px solid #B5ABAA;

    &__container {
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.image__item {
    position: absolute;
    width: 100px;
    height: 100px;
}

.image__item+.image__item {
    top: 120px;
}

.image__item+.image__item+.image__item {
    top: 240px;
}

.image__section {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (max-width: $desktop-size) {
        justify-content: center;
    }

}

.image__content {
    width: 100%;
    // max-width: 500px;
    height: 500px;
    display: inline-block;

    @media (max-width: $desktop-size) {
        width: 500px;
    }

    @media (max-width: 500px) {
        width: 320px;
        height: 320px;
    }
}

.image__jewelry {
    position: absolute;
    width: 360px;
    height: 360px;
    bottom: 10%;
    right: 10%;
    z-index: 2;
}

.image__section-right-side {
    width: 100%;

    @media (max-width: $desktop-size) {
        display: none;
    }
}


.hero__media-list {
    width: 100%;
    height: 100%;
    position: absolute;


    @media (max-width: $desktop-size) {
        display: none;
    }
}

.social__media {
    position: absolute;
    right: 0;
    bottom: 0%;
    width: 48px;

    &__wrapper {
        position: relative;
        z-index: 2;
    }

    a {
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
        z-index: 2;
    }

    a:last-child {
        padding-bottom: 150px;
    }

    &__line {
        border-right: 1px solid #B5ABAA;
        position: absolute;
        right: 50%;
        top: 0;
        height: 100%;
        z-index: 0;
    }

    @media (max-width: 768px) {
        display: none;
    }

    @media (max-width: 320px) {
        display: none;
    }
}