@import "../../../../global_scss/global_style.scss";
@import "../../../../global_scss/fonts.scss";

.header-search {
  padding-left: 30%;
  padding-top: 30%;
  cursor: pointer;
}

@media screen and (max-width: $desktop-size) {
  .header-search {
    display: none;
  }
}

@media screen and (max-width: $mobile-size) {
  .header-search {
    display: none;
  }
}