@import "../../../../global_scss/global_style.scss";
@import "../../../../global_scss/fonts.scss";

.header-search {
  padding-left: 20px;
  padding-top: 29px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .header-search {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header-search {
    display: none;
  }
}


@media screen and (max-width: $desktop-size) {
  .header-search {
    display: none;
  }
}

@media screen and (max-width: $mobile-size) {
  .header-search {
    display: none;
  }
}