@import "../../global_scss/global_style.scss";
@import "../../global_scss/mixins.scss";
@import "../../global_scss/vars.scss";

.under__construction-page {
    text-align: center;
}

.under_consruction-img {
    max-width: 1200px;
    padding: 100px 0;
    @media (max-width: $notebook-size) {
        max-width: 800px;
    }
    @media (max-width: $desktop-size) {
        max-width: 500px;
    }
    @media (max-width: $mobile-size) {
        max-width: 250px;
    }
}

.breadcrumbs__constract {
    margin-top: 30px;
    @media (max-width: $notebook-size) {
        margin-left: 110px;
    }
    @media (max-width: $desktop-size) {
        margin-left: 30px;
    }
}