.pagination-li {
  color: black;
  width: 25px;
}

.pagination-wrapper {
  align-items: center;
  text-align: center;
  display: inline-block;
  flex-direction: row;
  width: 25px;
  height: 25px;
  background-color: bisque;
}