@import "../../../global_scss/vars.scss";
@import "../../../global_scss/mixins.scss";

// span {
//   color: rgb(87, 49, 13);
//   text-decoration: underline;
// }

.contact-info-section__way {
  font-size: large;
  width: 87%;
  margin: 15px auto 0 auto;
}
.contact-info-section__error-message {
  color: red;
  font-family: "Mulish Regular";
  padding: 6px;
}
.contact-info-section {
  width: 87%;
  margin: 0 auto;
  border: 1px solid #b5abaa;
  margin-top: 30px;
  padding: 0 30px;

  .registration__section-field {
    padding: 0;
  }
  &__infoEmail {
    box-sizing: content-box;
  }

  &__title {
    font-family: $main-font;
    font-size: 20px;
    line-height: 25px;
    padding: 40px 0 27px 0;
  }

  &__email {
    box-sizing: border-box;
    flex-direction: column;
    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;
  }
  &__text {
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #b5abaa;
  }
  &__titleLogin {
    padding-bottom: 15px;
    color: $basic-text-color;
    width: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 10px auto;
    cursor: pointer;
  }
  &__login {
    font-family: "Mulish Regular";
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: none;
    color: #004c3f;
  }
}
@import "../../../global_scss/vars.scss";
@import "../../../global_scss/mixins.scss";


.contact-info-section__way {
  font-size: large;
  width: 87%;
  margin: 15px auto 0 auto;
}
.contact-info-section__error-message {
  color: red;
  font-family: "Mulish Regular";
  padding: 6px;
}
.contact-info-section {
  width: 87%;
  margin: 0 auto;
  border: 1px solid #b5abaa;
  margin-top: 30px;
  padding: 0 30px;
  &__infoEmail {
    box-sizing: content-box;
  }

  &__title {
    font-family: $main-font;
    font-size: 20px;
    line-height: 25px;
    padding: 40px 0 27px 0;
  }

  &__email {
    box-sizing: border-box;
    flex-direction: column;
    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;
  }
  &__text {
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #b5abaa;
  }
  &__titleLogin {
    padding-bottom: 15px;
    color: $basic-text-color;
    width: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 10px auto;
    cursor: pointer;
  }
  &__login {
    font-family: "Mulish Regular";
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: none;
    color: #004c3f;
  }
}
