@import '../../../global_scss/vars.scss';
@import '../../../global_scss/mixins.scss';

.contact-info-section{
    width: 100%;
    margin: 0 auto;
    border:  1px solid #B5ABAA;
    width: 1010px;
    height: 242px;
    margin-top: 80px;
    &__title{
        padding: 0 0 25px 30px;
        font-family: $main-font;
        font-size: 20px;
        line-height: 25px;
        padding-top: 40px;
    }
    &__infoEmail{
        display: inline-grid;
        padding-left: 30px;
        padding-bottom: 5px;
    }
    &__email{
        flex-direction: column;
        padding-bottom: 10px;
        font-family: $main-font;
        font-size: 16px;
        line-height: 20px;
        width: 500;
    }
    &__text{
        width: 930px;
        padding: 15px;
        outline: none;
        border:  1px solid #B5ABAA;
    }
    &__titleLogin{
        padding-left: 30px;
        color: $basic-text-color;
        width: 400;
        font-size: 16px;
        line-height: 24px;
    }
    &__login{
        font-family: "Mulish Regular";
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-transform: none;
        color: #004C3F;
    }

}